/* Empty. Add your own CSS if you like */
.scroll {
    height: 100%;
}

#map {
    width: 100%;
    height: 90%;
}

.item-selector {
  width: 100%;
  height: 10%;
}

.selected {
  background-color: #e5e5e5;
}
