/* Empty. Add your own CSS if you like */
.scroll {
    height: 100%;
}

#map {
    width: 100%;
    height: 90%;
}

.item-selector {
  width: 100%;
  height: 10%;
}

.item-selector > button {
  height:100%;
}

.item-selector > button > img{
  height:90%;
}

.item-selector > button.selected {
  background-color: #0ac9fb;
}

.icon-center {
  height:100%;
}

#center_pin{
  position: absolute;
  z-index: 1000;
  left:47%;
  top:41%;
}

.search-bar {
  margin-bottom: -20px;
}

.type-selector {
  position: absolute;
  z-index: 99;
  left:24%;
  top:55%;
}

.type-selector > button {
  width: 100px;
  border-radius: 15px;
}