<ion-view view-title="Sign Up">
  <ion-content class="padding">
    <img ng-src="img/logo.png">
    <div row="row responsive-sm">
      <form ng-submit="signUp()" class="col">
        <label class="item item-input item-stacked-label">
          <span class="input-label">First Name</span>
          <input type="text" ng-model="user.first_name" placeholder="Blank" ng-required="true">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Last Name</span>
          <input type="text" ng-model="user.last_name" placeholder="Blank" ng-required="true">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Email</span>
          <input type="text" ng-model="user.email" placeholder="Blank" ng-required="true">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Mobile Phone</span>
          <input type="text" ng-model="user.mobile_phone" placeholder="Blank" ng-required="true">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Password</span>
          <input type="password" ng-model="user.password" placeholder="*****" ng-required="true">
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label">Password Confirmation</span>
          <input type="password" ng-model="user.password_confirmation" placeholder="*****" ng-required="true">
        </label>
        <button class="button button-block button-positive" type="submit">Sign Up</button>
      </form>
      <a class="button button-small button-block button-positive" href="/#/log-in">Log In</a>
    </div>
  </ion-content>
</ion-view>
